---
export interface Props {
  title: string
  buttonColor: string
  fontSize: string
  href?: string
  ariaLabel?: string
}

import '@fontsource/playfair-display/800.css'

const { title, buttonColor, fontSize, href, ariaLabel } = Astro.props
---

<div>
  {
    href ? (
      <a class="begin-button" href={href}>
        <div class="foreground">{title}</div>
        <div class="background" />
      </a>
    ) : (
      <button class="begin-button" aria-label={ariaLabel}>
        <div class="foreground">{title}</div>
        <div class="background" />
      </button>
    )
  }
</div>

<style lang="scss" define:vars={{ buttonColor, fontSize }}>
  .begin-button {
    display: block;
    background-color: transparent;
    color: var(--black);
    border: none;
    width: min-content;
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    &:hover .foreground {
      transform: translateY(-2px);
    }
    .foreground {
      background-color: var(--buttonColor);
      font-family: 'Playfair Display', serif;
      font-weight: 800;
      font-size: var(--fontSize);
      white-space: nowrap;
      text-align: center;
      padding: 0.8rem 1.5rem;
      border-radius: 10px;
      position: relative;
      transform: translateY(-4px);
      transition: transform 0.1s ease-out;
      z-index: 1;
    }
    .background {
      background-color: #7e6431;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
  }
</style>
