---
  import handTree from "../../assets/hand_tree.svg";
---

<a href="/" class="main-logo">
  <img
    draggable="false"
    src={handTree}
    alt="logo arbre fait de mains"
  />
</a>

<style lang="scss">
  .main-logo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
    user-select: none;
    z-index: 2;
    img {
      height: 60px;
      width: 60px;
    }
  }

  @media screen and (max-width: 800px) {
    .main-logo {
      top: 15px;
      left: 20px;
    }
  }

</style>