---
import { Image } from '@astrojs/image/components';

import Button from '../components/shared/Button.astro';
import Layout from '../layouts/Layout.astro';
import HandDrawnPannels from '../assets/hand_drawn_pannels.svg';
import handTree from "../assets/hand_tree.svg";

---

<Layout title="Généalogie Marie-Pierre">
	<main>
		<Image
			class="main-logo"
			height={50}
			width={50}
			src={handTree}
			alt="logo arbre fait de mains"
		/>
		<h1>OUUUUPS, cette page n’existe pas !</h1>
		<Button
			title="Revenir en terre connue"
			buttonColor="#F8F8F8"
			fontSize="1.2rem"
			href="/"
		/>
		<img
			src={HandDrawnPannels}
			alt="panneaux"
			class="pannels"
		>
	</main>
</Layout>

<style lang="scss">
	main {
		height: calc(100vh - 100px);
		width: 100vw;
		padding: 1.5rem;
		background-color: var(--primary);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.main-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    z-index: 1;
  }
	h1 {
		font-size: 2rem;
		font-weight: 800;
		text-align: center;
		margin: 0 0 2rem 0;
	}
	.pannels {
		position: absolute;
		height: 60%;
		opacity: 20%;
		pointer-events: none;
	}
</style>
