---
import Layout from '../layouts/Layout.astro'
import HeaderHero from '../components/HeaderHero.astro'
import ExplanationSection from '../components/ExplanationSection.astro'
import ServicesSection from '../components/ServicesSection.astro'
import HowItWorksSection from '../components/HowItWorksSection.astro'
import AboutSection from '../components/AboutSection.astro'
import ContactSection from '../components/ContactSection.astro'
import MapSection from '../components/MapSection.astro'
import OtherInformationsSection from '../components/OtherInformationsSection.astro'

const metaDescription =
  "Généalogiste familiale professionnelle en Isère(38), Drômes(26) et Hautes-Alpes(05). Recherches sur l'histoire des familles et études de patrimoine/bâti."
---

<Layout
  title="Hestia généalogie et Patrimoine"
  metaDescription={metaDescription}
>
  <HeaderHero />
  <main>
    <ExplanationSection />
    <ServicesSection />
    <MapSection />
    <OtherInformationsSection />
    <HowItWorksSection />
    <AboutSection />
    <ContactSection />
  </main>
</Layout>
