---
import Layout from '../layouts/Layout.astro';
import HeaderHero from '../components/HeaderHero.astro';
import ExplanationSection from '../components/ExplanationSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import HowItWorksSection from '../components/HowItWorksSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Généalogie Marie-Pierre">
	<main>
		<HeaderHero />
		<ExplanationSection />
		<ServicesSection />
		<HowItWorksSection />
		<AboutSection />
		<ContactSection />
	</main>
</Layout>

<style lang="scss">
	
</style>
