---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Généalogie Marie-Pierre">
	<main>
		<h1>Site généalogie Marie-Pierre en construction</h1>
		<h3>Le site sera bientôt disponible</h3>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 800px;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		text-align: center;
		margin: 0;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		margin: 0;
	}
</style>
