---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Généalogie Marie-Pierre">
	<main>
		<h1>Mentions légales</h1>
	</main>
</Layout>

<style lang="scss">
	main {
		min-height: 100vh;
		max-width: 800px;
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		text-align: center;
		margin: 0;
	}
</style>
