---
import Layout from "../layouts/Layout.astro";
import PaperBackground from '../components/shared/PaperBackground.astro';
import Button from "../components/shared/Button.astro";

import { Content as WebsiteInfos } from "../content/mentions-legales/site-web.md";
import { Content as CGVContent } from "../content/mentions-legales/CGV.md";
import MainLogo from '../components/shared/MainLogo.astro';
---

<Layout title="Hestia généalogie et Patrimoine - mentions légales">
	<div class="wrapper">
		<PaperBackground />
		<MainLogo />
		<main class="main-content">
			<h1>Mentions légales</h1>
			<div class="website-infos">
				<WebsiteInfos />
			</div>
			<div class="cgv-content">
				<CGVContent />
			</div>
			<div class="button-container">
				<Button href="/" buttonColor="#deb057" fontSize="1rem" title="Retour au site" />
			</div>
		</main>
	</div>
</Layout>

<style lang="scss">
	.wrapper {
		position: relative;
	}
	.main-content {
		max-width: 1000px;
		margin: auto;
		padding: 3rem;
		position: relative;
		z-index: 1;
		h1 {
			font-size: 2rem;
			font-weight: 800;
			text-align: center;
			margin: 0;
			margin-bottom: 3rem;
  	}
		:global(h2) {
			font-size: 1.5rem;
			margin-top: 15px;
			margin-bottom: 6px;
		}
		.website-infos {
			margin-bottom: 2rem;
			:global(p) {
				line-height: 1.8;
			}
		}
		.cgv-content {
			:global(li) {
				margin-bottom: 1rem;
			}
		}
		.button-container {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 40px;
		}
	}
</style>
