---
import Layout from "../layouts/Layout.astro";
import PaperBackground from '../components/shared/PaperBackground.astro';

import { Content as LegalMentionsContent } from "../content/mentions-legales.md";
import MainLogo from '../components/shared/MainLogo.astro';
---

<Layout title="Généalogie Marie-Pierre">
	<PaperBackground />
	<MainLogo />
	<main class="main-content">
		<h1>Mentions légales</h1>
		<LegalMentionsContent />
	</main>
</Layout>

<style lang="scss">
	.main-content {
		min-height: 100vh;
		max-width: 1000px;
		margin: auto;
		padding: 3rem;
		position: relative;
		z-index: 1;
		h1 {
			font-size: 2rem;
			font-weight: 800;
			text-align: center;
			margin: 0;
			margin-bottom: 3rem;
		}
		h2 {
			color: red;
		}
	}
</style>
