---
import SectionLayout from "../layouts/SectionLayout.astro";
import { Image } from "@astrojs/image/components";
import photo from '../assets/marie-pierre_estienne_photo.png';
import HandWroteText from "./HandWroteText.astro";
import {Content as AboutContent, frontmatter } from '../content/about/about.md';
import PublicationCards from "./PublicationCards.astro";
---

<SectionLayout
  title="A propos de moi"
  background="#DEB057"
  sectionId="a-propos"
>
  <div class="main-content">
    <AboutContent />
    <p class="quote" set:text={frontmatter.quote}></p>
    <div class="writing-text-container">
      <HandWroteText />
    </div>
    <Image
      height={180}
      width={180}
      src={photo}
      format="webp"
      alt="Photo portrait de Marie-Pierre Estienne"
      class="portrait"
    />
    <PublicationCards />
  </div>
</SectionLayout>

<style lang="scss">
  .main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .writing-text-container {
      align-self: end;
      z-index: 1;
    }
    p {
      width: 100%;
      max-width: 900px;
      font-size: 1rem;
      line-height: 1.5;
      max-width: 800px;
      text-align: justify;
      &.quote {
        font-style: italic;
        font-weight: 700;
        margin-top: 20px;
      }
    }
    .portrait {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin-top: 20px
    }
  }

  @media screen and (max-width: 500px) {
    .main-content {
      width: 85%;
    }
  }
</style>