---
import SectionLayout from "../layouts/SectionLayout.astro";
import { Image } from "@astrojs/image/components";
import photo from '../assets/marie-pierre_estienne_photo.png';
import * as AboutContent from '../content/about.md';
---

<SectionLayout
  title="A propos de moi"
  background="#DEB057"
  sectionId="a-propos"
>
  <p set:text={AboutContent.rawContent()}></p>
  <p set:text={AboutContent.frontmatter.quote} class="quote"></p>
  <Image
    height="180"
    width="180"
    src={photo}
    alt="Photo de Marie-Pierre Estienne"
    class="portrait"
  />
</SectionLayout>

<style lang="scss">
  p {
    width: 70%;
    max-width: 900px;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 800px;
    text-align: justify;
    &.quote {
      font-style: italic;
      font-weight: 700;
      margin-top: 20px;
    }
  }
  .portrait {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin-top: 40px
  }

  @media screen and (max-width: 500px) {
    p {
      width: 85%;
    }
  }
</style>