---
import SectionLayout from "../layouts/SectionLayout.astro";
import { Image } from "@astrojs/image/components";
import photo from '../assets/marie-pierre_estienne_photo.png';
---

<SectionLayout
  title="A propos de moi"
  background="#DEB057"
  sectionId="a-propos"
>
  <div class="about-container">
    <p>
      Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.
    Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. 
    </p>
    <div class="image-container">
      <Image
        height="100%"
        width="100%"
        src={photo}
        alt="Photo de Marie-Pierre Estienne"
      />
    </div>
  </div>
</SectionLayout>

<style lang="scss">
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    p {
      width: 70%;
      max-width: 1000px;
      font-size: 1rem;
      line-height: 1.5;
      max-width: 800px;
      text-align: justify;
    }
    .image-container {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
    }
  }
</style>