---
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";

import LinkedinIcon from "../assets/linkedin_logo.svg";
import UpperArrow from '../assets/upper_arrow.svg';

const placeholder = "Indiquez ici le maximum d’informations concernant votre demande (nom, prénom, dates, lieux, … s’il s’agit d’une recherche généalogique, ou nature, lieu, état du bâti et statut du demandeur (particuliers, association, collectivité…) pour une étude de bâti.)"
---

<SectionLayout title="Contact" sectionId="contact">
  <PaperBackground />
  <p class="contact-infos">
    Vous pouvez me contacter à l'adresse mail <strong>estienne.genealogie@gmail.com</strong> ou via le formulaire ci-dessous :
  </p>
  <form name="contact" method="POST" class="contact-form" data-netlify="true">
    <input type="hidden" name="subject" value="Nouveau message de généalogie marie-pierre estienne" />
    <div class="lastname">
      <label for="lastname">Nom :</label>
      <input type="text" name="lastname" id="lastname" required/>
    </div>
    <div class="firstname">
      <label for="firstname">Prénom :</label>
      <input type="text" name="firstname" id="firstname" required/>
    </div>
    <div class="email">
      <label for="email">Email :</label>
      <input type="email" name="email" id="email" required/>
    </div>
    <div class="phone">
      <label for="phone">Téléphone : (optionnel)</label>
      <input type="tel" name="phone" id="phone" />
    </div>
    <div class="service">
      <label>Type de prestation :</label>
      <div class="checkbox-container">
        <input type="checkbox" name="service1" id="service1" />
        <label for="service1">Généalogie familiale</label>
      </div>
      <div class="checkbox-container">
        <input type="checkbox" name="service2" id="service2" />
        <label for="service2">Etude de bâti</label>
      </div>
    </div>
    <div class="message">
      <label for="message">Message :</label>
      <textarea name="message" id="message" placeholder={placeholder} spellcheck="true" required></textarea>
    </div>
    <div class="file">
      <input type="file" name="file" id="file" multiple />
    </div>
    <button type="submit">
      <div class="foreground">Envoyer</div>
      <div class="background"></div>
    </button>
  </form>
  <a href="https://fr.linkedin.com/in/marie-pierre-estienne-456a80124" target="_blank">
    <img src={LinkedinIcon} alt="logo linkedin" class="linkedin-logo">
  </a>
  <a href="#home" class="scrolltop-button">
    <img class="logo" src={UpperArrow} alt="upper arrow">
  </a>
</SectionLayout>

<style lang="scss">
  .contact-infos {
    width: clamp(500px, 50%, 800px);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
    z-index: 1;
  }
  .contact-form {
    width: clamp(600px, 60%, 800px);
    display: grid;
    grid-template-areas: "lastname firstname"
                         "email phone"
                         "service service"
                         "message message"
                         "file file"
                         "submit submit";
    column-gap: 40px;
    row-gap: 12px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    input, textarea {
      display: block;
      background-color: rgb(222 177 87 / 70%);
      border: none;
      outline: rgb(222, 177, 87);
      padding: 0.5rem 0.8rem;
      border-radius: 4px;
      color: var(--black);
      font-family: "Playfair Display", serif;
      &:focus {
        outline: 1px solid var(--black)
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 50px rgb(222 177 87 / 70%) inset !important;
    }
    input {
      height: 32px;
      width: 100%;
      font-size: 0.875rem;
    }
    textarea {
      resize: none;
      height: 140px;
      width: 100%;
    }
    label {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .lastname {
      grid-area: lastname;
    }
    .firstname {
      grid-area: firstname;
    }
    .email {
      grid-area: email;
    }
    .phone {
      grid-area: phone;
    }
    .service {
      grid-area: service;
      .checkbox-container {
        display: inline-block;
        margin-right: 28px;
        * {
          display: inline;
        }
      }
      & > label {
        margin: 4px 0 8px 0;
      }
      input[type="checkbox"] {
        appearance: none;
        height: 20px;
        width: 20px;
        padding: 0;
        border: 1px solid var(--dark-grey);
        display: inline-block;
        position: relative;
        top: 4px;
        margin-right: 4px;
        cursor: pointer;
        &:focus {
          outline-offset: 2px;
        }
        &::before {
          content: "";
          background-color: var(--accent);
          position: absolute;
          top: 2px;
          left: 2px;
          bottom: 2px;
          right: 2px;
          border-radius: 2px;
          transform: scale(0);
          transition: transform 0.2s ease-out;
        }
        &:checked::before {
          transform: scale(1);
        }
      }
    }
    .message {
      grid-area: message;
      maxlength: 10000;
      width: 100%;
    }
    .file {
      grid-area: file;
      input {
        background: transparent;
        outline: none;
      }
    }
    button {
      display: block;
      background-color: transparent;
      margin-top: 10px;
      color: var(--black);
      grid-area: submit;
      justify-self: right;
      border: none;
      width: min-content;
      position: relative;
      cursor: pointer;
      &:hover .foreground {
        transform: translateY(-2px);
      }
      .foreground {
        background-color: var(--accent);
        color: var(--very-light-grey);
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        text-align: center;
        letter-spacing: 1.2px;
        padding: 0.5rem 1.2rem;
        border-radius: 10px;
        position: relative;
        transform: translateY(-4px);
        transition: transform 0.1s ease-out;
        z-index: 1;
      }
      .background {
        background-color: #8797a6;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
      }
    }
  }
  .scrolltop-button {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    .logo {
      pointer-events: none;
    }
  }
  .linkedin-logo {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    transition: transform 0.1s ease;
    z-index: 1;
    &:hover {
      transform: translateX(-50%) scale(1.03);
    }
  }

  @media screen and (max-width: 800px) {
    .contact-infos {
      width: 90%;
    }
    .contact-form {
      grid-template-areas: "lastname"
                           "firstname"
                           "email"
                           "phone"
                           "service"
                           "message"
                           "file"
                           "submit";
      row-gap: 20px;
      width: 90%;
      margin-bottom: 40px;
      button {
        justify-self: center;
      }
    }
  }
</style>