---
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import Button from "./shared/Button.astro";

import UpperArrow from '../assets/upper_arrow.svg';
---

<SectionLayout title="Contact" sectionId="contact">
  <PaperBackground />
  <p class="contact-infos">
    Vous pouvez me contacter à l'adresse mail <strong>mp.estienne@orange.fr</strong> ou via le formulaire ci-dessous :
  </p>
  <form action="" class="contact-form">
    <div class="lastname">
      <label for="lastname">Nom :</label>
      <input type="text" name="lastname" id="lastname" required/>
    </div>
    <div class="firstname">
      <label for="firstname">Prénom :</label>
      <input type="text" name="firstname" id="firstname" required/>
    </div>
    <div class="email">
      <label for="email">Email :</label>
      <input type="email" name="email" id="email" required/>
    </div>
    <div class="phone">
      <label for="phone">Téléphone : (optionnel)</label>
      <input type="tel" name="phone" id="phone" />
    </div>
    <div class="message">
      <label for="message">Message :</label>
      <textarea name="message" id="message" placeholder="Je souhaite..." spellcheck="true" required></textarea>
    </div>
    <button type="submit">
      <div class="foreground">Envoyer</div>
      <div class="background"></div>
    </button>
  </form>
  <a href="#home" class="scrolltop-button">
    <img class="logo" src={UpperArrow} alt="upper arrow">
  </a>
</SectionLayout>

<style lang="scss">
  .contact-infos {
    width: clamp(500px, 50%, 800px);
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
    z-index: 1;
  }
  .contact-form {
    width: clamp(600px, 60%, 800px);
    display: grid;
    grid-template-areas: "lastname firstname"
                         "email phone"
                         "message message"
                         "submit submit";
    column-gap: 40px;
    row-gap: 12px;
    position: relative;
    z-index: 1;
    input, textarea {
      display: block;
      background-color: rgb(222 177 87 / 70%);
      border: none;
      outline: rgb(222, 177, 87);
      padding: 0.5rem 0.8rem;
      border-radius: 4px;
      color: var(--black);
      font-family: "Playfair Display", serif;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 50px rgb(222 177 87 / 70%) inset !important;
    }
    input {
      height: 32px;
      width: 100%;
      font-size: 0.875rem;
    }
    textarea {
      resize: none;
      height: 130px;
      width: 100%;
    }
    label {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .lastname {
      grid-area: lastname;
    }
    .firstname {
      grid-area: firstname;
    }
    .email {
      grid-area: email;
    }
    .phone {
      grid-area: phone;
    }
    .message {
      grid-area: message;
      maxlength: 10000;
      width: 100%;
    }
    button {
      display: block;
      background-color: transparent;
      margin-top: 10px;
      color: var(--black);
      grid-area: submit;
      justify-self: right;
      border: none;
      width: min-content;
      position: relative;
      cursor: pointer;
      &:hover .foreground {
        transform: translateY(-2px);
      }
      .foreground {
        background-color: var(--accent);
        color: var(--very-light-grey);
        font-family: "Playfair Display", serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        white-space: nowrap;
        text-align: center;
        letter-spacing: 1.2px;
        padding: 0.5rem 1.2rem;
        border-radius: 10px;
        position: relative;
        transform: translateY(-4px);
        transition: transform 0.1s ease-out;
        z-index: 1;
      }
      .background {
        background-color: #b09e7b;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
      }
    }
  }
  .scrolltop-button {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary);
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    .logo {
      pointer-events: none;
    }
  }
</style>