---
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import StrokeMapBackground from "./StrokeMapBackground.astro";
import { Content as ExplanationContent } from '../content/explanation/explanation.md';
---

<SectionLayout title="Généalogiste Familial" sectionId="explanations">
  <PaperBackground />
  <StrokeMapBackground />
  <div class="explanation-text">
    <ExplanationContent />
  </div>
</SectionLayout>

<style lang="scss">
  .explanation-text {
    width: 80%;
    margin-left: 60px;
    max-width: 840px;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
    position: relative;
    z-index: 2;
  }
  .explanation-text :global(p) {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .explanation-text :global(ul) {
    margin: 14px 0;
    list-style: none;
  }
  .explanation-text :global(ul li) {
    margin-bottom: 30px;
    line-height: 1.8;
    position: relative;
  }
  .explanation-text :global(ul li:nth-child(1)::before) {
    position: absolute;
    top: -25px;
    transform: translateX(-100%);
    content: url('../assets/gene_tree.svg');
  }
  .explanation-text :global(ul li:nth-child(2)::before) {
    position: absolute;
    top: -10px;
    transform: translateX(-140%);
    content: url('../assets/chess_tower.svg');
  }
  .explanation-text :global(ul li:nth-child(3)::before) {
    position: absolute;
    top: -10px;
    transform: translateX(-120%);
    content: url('../assets/gift.svg');
  }
  
  @media screen and (max-width: 500px) {
    .explanation-text {
      width: 90%;
      margin-left: 0;
    }
    .explanation-text :global(ul li) {
      margin-bottom: 60px;
    }
    .explanation-text :global(ul li:nth-child(1)::before) {
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
    .explanation-text :global(ul li:nth-child(2)::before) {
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
    .explanation-text :global(ul li:nth-child(3)::before) {
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>