---
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import StrokeMapBackground from "./StrokeMapBackground.astro";
import ARABlason from "../assets/ARA_blason.svg";
import PACABlason from "../assets/PACA_blason.svg";
import { Content as ExplanationContent } from '../content/explanation/explanation.md';
---

<SectionLayout title="Généalogiste Familial" sectionId="explanations">
  <PaperBackground />
  <StrokeMapBackground />
  <div class="explanation-text">
    <ExplanationContent />
  </div>
  <div class="blasons-container">
    <div class="blason">
      <img
        src={ARABlason}
        alt="blason Auvergne Rhône-Alpes"
      />
      <p class="blason-title">Auvergne Rhône-Alpes</p>
    </div>
    <div class="blason">
      <img
        src={PACABlason}
        alt="blason Auvergne Rhône-Alpes"
      />
      <p class="blason-title">PACA</p>
    </div>
  </div>
</SectionLayout>

<style lang="scss">
  .explanation-text {
    width: 80%;
    max-width: 840px;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
    position: relative;
    z-index: 2;
  }
  .explanation-text :global(ul) {
    list-style: url('/checkmark.svg');
    margin: 14px 0;
    padding-left: 22px;
  }
  .explanation-text :global(ul li) {
    line-height: 1.8;
  }
  .blasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(20vw, 150px);
    margin-top: 60px;
    position: relative;
    z-index: 2;
    .blason {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      user-select: none;
      pointer-events: none;
      opacity: 0.85;
      &:nth-child(1) {
        img {
          width: 100px;
        }
      }
      &:nth-child(2) {
        img {
          width: 110px;
        }
      }
      .blason-title {
        text-align: center;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .explanation-text {
      width: 85%;
    }
    .blasons-container {
      flex-direction: column;
      gap: 30px;
      .blason-title {
        margin-top: 10px;
      }
    }
  }
</style>