---
import { Image } from "@astrojs/image/components";
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import WritingText from "./shared/WritingText.astro";
import StrokeMapBackground from "./StrokeMapBackground.astro";

import ARABlason from "../assets/ARA_blason.svg";
import PACABlason from "../assets/PACA_blason.svg";
---

<SectionLayout title="Généalogiste Familial" sectionId="explanations">
  <PaperBackground />
  <StrokeMapBackground />
  <div class="explanation-text">
    <p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo Généalogiste Familiale.</p>
    <p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo Généalogiste Familiale.</p>
  </div>
  <div class="blasons-container">
    <div class="blason">
      <Image
        src={ARABlason}
        alt="blason Auvergne Rhône-Alpes"
        width="100"
        aspectRatio={490/600}
      />
      <p class="blason-title">Auvergne Rhône-Alpes</p>
    </div>
    <div class="blason">
      <Image
        src={PACABlason}
        alt="blason Auvergne Rhône-Alpes"
        width="110"
        aspectRatio={600/660}
      />
      <p class="blason-title">PACA</p>
    </div>
  </div>
  <div class="writing-text-container">
    <WritingText />
  </div>
</SectionLayout>

<style lang="scss">
  .explanation-text {
    width: 80%;
    max-width: 800px;
    z-index: 2;
    p {
      font-family: 'Crimson Text', serif;
      width: 100%;
      &:last-of-type {
      margin-top: 30px;
      }
    }
  }
  .blasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(20vw, 150px);
    margin-top: 60px;
    position: relative;
    z-index: 2;
    .blason {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      user-select: none;
      pointer-events: none;
      opacity: 0.85;
      .blason-title {
        text-align: center;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
    }
  }
  .writing-text-container {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: 1;
  }

  @media screen and (max-width: 500px) {
    .explanation-text {
      width: 85%;
    }
    .blasons-container {
      flex-direction: column;
      gap: 30px;
      .blason-title {
        margin-top: 10px;
      }
    }
  }
</style>