---
const date = new Date().getFullYear();
---

<footer>
  <div class="side-container">Tel : 07 83 77 07 07</div>
  <span id="copyright">©<span class="date">{date}</span> ESTIENNE Marie-Pierre  - Tous droits réservés</span>
  <div class="side-container">
    <a id="legacy-link" href="/mentions-legales">Mentions légales</a>
  </div>
</footer>



<style lang="scss">
  footer {
    height: 100px;
    width: 100%;
    background-color: #1E1607;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    line-height: 2;
    font-size: 0.8rem;
  }

  .side-container {
    flex-grow: 1;
    flex-basis: 0%;
    display: flex;
    justify-content: center;
  }
  
  #copyright {
    .date {
      font-family: "Crimson Text", serif;
    }
  }

  #legacy-link {
    color: var(--white);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 600px) {
    footer {
      flex-direction: column;
      .side-container {
        flex-grow: 0;
      }
    }
  }
</style>