---
import { Image } from '@astrojs/image/components'

import Navbar from "./Navbar.astro";
import Button from "./shared/Button.astro";
import Clock from "./Clock.astro";

import oldPeopleImage from "../assets/old_people_photo.png";

const links = [
  {name: "Préstations", url: "#prestations"},
  {name: "Comment ça marche ?", url: "#comment-ca-marche"},
  {name: "A propos de moi", url: "#a-propos"},
  {name: "Contact", url: "#contact"},
]
---

<header>
  <Navbar links={links}/>
  <div class="hero-container">
    <div class="name-wrapper">
      <div class="name">
        ESTIENNE Marie-Pierre<br>
        Généalogiste Familiale
      </div>
    </div>
    <div class="main-wrapper">
      <Image
        src={oldPeopleImage}
        width="400"
        alt="personnes agées photographiées en noir et blanc"
        class="old-people-image"
      />
      <div class="left-container">
        <div class="title">Remontez le temps...</div>
        <div class="title">Retrouvez vos ancêtres...</div>
        <div class="title">Découvrez votre histoire...</div>
        <div class="button-container">
          <Button
            title="Commencer le voyage"
            buttonColor="#F8F8F8"
            fontSize="1.2rem"
          />
        </div>
      </div>
      <div class="right-container">
        <Clock />
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    height: 100vh;
    background: var(--primary);
    overflow: hidden;
  }
  .hero-container {
    width: 100%;
    padding: 0 5vw;
  }
  .name-wrapper {
    display: flex;
    justify-content: center;
    widows: 100%;
    margin-top: 3rem;
  }
  .name {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
  }
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .title {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .title:nth-child(3) {
    font-size: 4vw;
    margin-bottom: 3.5rem;
  }
  .button-container {
    align-self: center;
  }
  .old-people-image {
    position: absolute;
  }

</style>