---
import { Image } from '@astrojs/image/components'

import Navbar from "./Navbar.astro";
import Button from "./shared/Button.astro";
import Clock from "./Clock.astro";

import oldPeopleImage from "../assets/old_people_photo.png";
import postCard from "../assets/postcard.png";

const links = [
  {name: "Préstations", url: "#prestations"},
  {name: "Comment ça marche ?", url: "#comment-ca-marche"},
  {name: "A propos de moi", url: "#a-propos"},
  {name: "Contact", url: "#contact"},
]
---

<header>
  <Navbar links={links}/>
  <div class="hero-container">
    <div class="name-wrapper">
      <div class="name">
        ESTIENNE Marie-Pierre<br>
        Généalogiste Familiale
      </div>
    </div>
    <div class="main-wrapper">
      <Image
        src={oldPeopleImage}
        width="400"
        alt="personnes agées photographiées en noir et blanc"
        class="old-people-image"
      />
      <Image
        src={postCard}
        width="400"
        alt="ancienne carte postale"
        class="postcard"
      />
      <div class="left-container">
        <div class="title">Remontez le temps...</div>
        <div class="title">Retrouvez vos ancêtres...</div>
        <div class="title">Découvrez votre histoire...</div>
        <div class="button-container">
          <Button
            title="Commencer le voyage"
            buttonColor="#F8F8F8"
            fontSize="1.2rem"
          />
        </div>
      </div>
      <div class="right-container">
        <div class="clock-container">
          <Clock />
        </div>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    height: 100vh;
    background: var(--primary);
    overflow: hidden;
  }
  .hero-container {
    width: 100%;
    padding: 0 5vw;
  }
  .name-wrapper {
    display: flex;
    justify-content: center; 
    widows: 100%;
    margin-top: 3rem;
  }
  .name {
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
  }
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
  }
  .left-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .title { // apparition text de gauche à droite ?
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2.2rem;
    opacity: 0;
    transform: translateY(-40px);
    animation: apparition 0.8s ease-out forwards;
    &:nth-child(1) {
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      animation-delay: 1s;
    }
    &:nth-child(3) {
      animation-delay: 1.6s;
      font-size: 4vw;
      margin-bottom: 3.5rem;
    }
  }
  .button-container {
    align-self: center;
    opacity: 0;
    animation: apparition 1s 2.2s ease-out forwards;
  }
  .old-people-image {
    position: absolute;
    top: 20%;
    left: 5%;
    pointer-events: none;
    opacity: 0;
    animation: apparition 2s 3s ease-out forwards;
  }
  .postcard {
    position: absolute;
    bottom: 10%;
    right: 5%;
    pointer-events: none;
    opacity: 0;
    animation: apparition 2s 5s ease-out forwards;
  }
  .clock-container {
    position: relative;
    top: -10vh;
    opacity: 0;
    animation: apparition 1s ease-out forwards;
  }
  @keyframes apparition {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>