---
export interface Props {
  number: string;
  cardTitle: string;
  cardContent: string;
  classes?: string;
}

const {number, cardTitle, cardContent, classes } = Astro.props;
---

<article class={`card ${classes}`}>
  <div class="number">{number}</div>
  <h2>{cardTitle}</h2>
  <p>{cardContent}</p>
</article>

<style lang="scss">
  .card {
    width: 200px;
    padding: 1rem 1.2rem;
    background: radial-gradient(50% 50% at 50% 50%, #F3DFB7 0%, #F7D38E 100%);
    border-radius: 17px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #C1A56F;
    transform: translate(-4px, -4px);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    &.active {
      box-shadow: none;
      transform: translate(0, 0);
    }
    .number {
      font-size: 4rem;
      font-weight: 700;
      opacity: 15%;
      position: absolute;
      top: -0.5rem;
      left: 1.3rem;
      user-select: none;
      pointer-events: none;
    }
    h2 {
      font-size: 1.2rem;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 900px) {
    .card {
      margin-bottom: 30px;
    }
  }
</style>