---
import SectionLayout from "../layouts/SectionLayout.astro"
import StrokeMapBackground from "./StrokeMapBackground.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import { Content as ZoneContent } from "../content/zone-intervention/zone-intervention.md";
---

<SectionLayout
  title="Zones d'intervention"
  sectionId="map"
>
  <PaperBackground />
  <div class="main-content">
    <div class="text-container">
      <ZoneContent />
    </div>
    <div class="map-wrapper">
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694106.0200736555!2d3.9326049617251004!3d44.019628533986115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b668198af953ad%3A0xb71690263d16d1a7!2sProvence-Alpes-C%C3%B4te%20d&#39;Azur!5e0!3m2!1sfr!2sfr!4v1671875814312!5m2!1sfr!2sfr"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2866575.7134026606!2d2.3810570852032034!3d45.44178962790312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f504e9f6eef8fd%3A0x3946707e2280e33a!2sAuvergne-Rh%C3%B4ne-Alpes!5e0!3m2!1sfr!2sfr!4v1671876954965!5m2!1sfr!2sfr"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  <StrokeMapBackground />
</SectionLayout>


<style lang="scss">
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    :global(p) {
      text-align: justify;
      font-size: 0.875rem;
      width: 80%;
      margin-bottom: 10px;
    }
    .text-container {
      margin-bottom: 50px;
    }
  }
  .map-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    .map-container {
      width: 100%;
      aspect-ratio: 4/3;
    }
  }

  @media screen and (max-width: 800px) {
    .map-wrapper {
      flex-direction: column;
      .map-container {
        max-height: 400px;
      }
    }
  }
</style>