---
import { Image } from 'astro:assets'
import SectionLayout from '../layouts/SectionLayout.astro'
import StrokeMapBackground from './StrokeMapBackground.astro'
import PaperBackground from './shared/PaperBackground.astro'

import ImageDepartements from '../assets/france-departements.png'
import ImageRegions from '../assets/france-regions.png'
import Blasons from './Blasons.astro'
import { Content as ZoneContent } from '../content/zone-intervention/zone-intervention.md'
---

<SectionLayout title="Zones d'intervention" sectionId="map">
  <PaperBackground />
  <div class="main-content">
    <div class="text-container">
      <ZoneContent />
    </div>
    <div class="map-container">
      <Image
        src={ImageRegions}
        densities={[1.5, 2]}
        class="location-map regions"
        alt="Carte de la zone d'intervention en France"
        draggable={false}
      />
      <Image
        src={ImageDepartements}
        width={400}
        densities={[1.5, 2]}
        class="location-map departements"
        alt="Carte des départements d'intervention en France"
        draggable={false}
      />
    </div>
  </div>
  <Blasons />
  <StrokeMapBackground />
</SectionLayout>

<style lang="scss">
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    .text-container {
      width: 80%;
      max-width: 1200px;
      margin-bottom: 50px;
      position: relative;
      :global(p) {
        text-align: justify;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    .location-map {
      &.regions {
        height: auto;
        width: 25vw;
        max-width: 300px;
      }
      &.departements {
        height: auto;
        width: 30vw;
        max-width: 380px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .map-container {
      flex-direction: column;
      align-items: center;
      .location-map {
        &.regions,
        &.departements {
          width: 50vw;
        }
      }
    }
    .main-content {
      .text-container {
        width: 100%;
        :global(p) {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .map-container {
      .location-map {
        &.regions,
        &.departements {
          width: 80vw;
        }
      }
    }
  }
</style>
