---
import SectionLayout from "../layouts/SectionLayout.astro"
import StrokeMapBackground from "./StrokeMapBackground.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import { Picture } from "@astrojs/image/components";

import ImageDepartements from '../assets/france-departements.png'
import ImageRegions from '../assets/france-regions.png'
import Blasons from "./Blasons.astro";
import { Content as ZoneContent } from "../content/zone-intervention/zone-intervention.md";
---

<SectionLayout
  title="Zones d'intervention"
  sectionId="map"
>
  <PaperBackground />
  <div class="main-content">
    <div class="text-container">
      <ZoneContent />
    </div>
    <div class="map-container">
      <Picture
        src={ImageRegions}
        widths={[300, 400, 500]}
        sizes="(max-width: 500px) 80vw, (max-width: 800px) 50vw, (max-width: 1200px) 25vw, 300px"
        alt="Carte de la zone d'intervention en France"
        draggable={false}
      />
      <Picture
        src={ImageDepartements}
        widths={[300, 380, 500, 700]}
        sizes="(max-width: 500px) 80vw, (max-width: 800px) 50vw, (max-width: 1200px) 30vw, 380px"
        alt="Carte des départements d'intervention en France"
        draggable={false}
      />
    </div>
  </div>
  <Blasons />
  <StrokeMapBackground />
</SectionLayout>


<style lang="scss">
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    .text-container {
      width: 80%;
      max-width: 1200px;
      margin-bottom: 50px;
      position: relative;
      :global(p) {
        text-align: justify;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
  }

  @media screen and (max-width: 800px) {
    .map-container {
      flex-direction: column;
      align-items: center;
    }
    .main-content {
      .text-container {
        width: 100%;
        :global(p) {
          width: 100%;
        }
      }
    }
  }
</style>