---
export interface Props {
  link: string;
  name: string;
}
const { link, name } = Astro.props;
---

<a href={link}>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  <div class="border"></div>
  {name}
</a>

<style lang="scss">
  a {
    --delay: 0.1s;
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    &:hover .border{
      transform: scaleX(1) scaleY(1);
      &:nth-child(1){
        transition-delay: 0s;
      }
      &:nth-child(2){
        transition-delay: var(--delay);
      }
      &:nth-child(3){
        transition-delay: calc(var(--delay) * 2);
      }
      &:nth-child(4){
        transition-delay: calc(var(--delay) * 3);
      }
    }
  }
  .border {
    --border-size: 1px;
    position: absolute;
    background-color: var(--black);
    transition: transform var(--delay) ease;
    &:nth-child(1) {
      bottom: 0;
      left: 0;
      height: 100%;
      width: var(--border-size);
      transform: scaleY(0);
      transform-origin: bottom;
      transition-delay: calc(var(--delay) * 3);
    }
    &:nth-child(2) {
      top: 0;
      left: 0;
      height: var(--border-size);
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition-delay: calc(var(--delay) * 2);
    }
    &:nth-child(3) {
      top: 0;
      right: 0;
      height: 100%;
      width: var(--border-size);
      transform: scaleY(0);
      transform-origin: top;
      transition-delay: var(--delay);
    }
    &:nth-child(4) {
      bottom: 0;
      right: 0;
      height: var(--border-size);
      width: 100%;
      transform: scaleX(0);
      transform-origin: right;
      transition-delay: 0;
    }
  }

</style>