---
import SectionLayout from "../layouts/SectionLayout.astro"
import { Content as OtherInformationsContent } from '../content/infos-complementaires/infos-complementaires.md'
---

<SectionLayout
  title="Informations complémentaires"
  sectionId="informations"
  background="#EEBE60"
>
  <div class="informations">
    <OtherInformationsContent />
  </div>
</SectionLayout>

<style>
  .informations {
    width: clamp(850px, 80%, 1000px);
    position: relative;
  }
  .informations :global(p) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 900px) {
    .informations {
      width: 100%;
    }
  }

</style>