---
import { Image } from 'astro:assets'
import SectionLayout from '../layouts/SectionLayout.astro'
import Tower from '../assets/tour.png'
import { Content as OtherInformationsContent } from '../content/infos-complementaires/infos-complementaires.md'
---

<SectionLayout
  title="Informations complémentaires"
  sectionId="informations"
  background="#EEBE60"
>
  <div class="informations">
    <OtherInformationsContent />
    <Image
      src={Tower}
      draggable={false}
      densities={[1.5, 2]}
      alt="Ancienne tour en ruine"
      class="tower"
    />
  </div>
</SectionLayout>

<style>
  .informations {
    width: clamp(850px, 80%, 1000px);
    position: relative;
    z-index: 1;
  }
  .informations :global(h2) {
    font-size: 1.2rem;
  }
  .informations :global(p) {
    width: 100%;
    margin-bottom: 20px;
  }
  .tower {
    position: absolute;
    right: 0;
    bottom: -60px;
    height: auto;
    width: clamp(200px, 30vw, 300px);
    opacity: 0.4;
    user-select: none;
    z-index: -1;
  }

  @media screen and (max-width: 900px) {
    .informations {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .informations {
      width: 100%;
    }
    .tower {
      width: 200px;
    }
  }
</style>
