---
import PaperBackground from "./shared/PaperBackground.astro";

import cross from "../assets/cross.svg";

const { id, cardTitle } = Astro.props;
---

<div class="card-container no-display" id={id}>
  <div class="background">
    <PaperBackground />
  </div>
  <div class="scrollable-content">
    <h2>{cardTitle}</h2>
    <button class="close-btn">
      <img src={cross} alt="close" draggable="false"/>
    </button>
    <div>
      <slot />
    </div>
  </div>
</div>

<style lang="scss">
  .card-container {
    max-height: 80vh;
    width: 70vw;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 20px;
    border: 4px solid #897347;
    align-items: center;
    padding: 2rem 3rem;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
    & .scrollable-content {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      z-index: 11;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 16px;
      overflow: hidden;
    }
    .close-btn {
      height: 24px;
      width: 24px;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      user-select: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &.visible {
      opacity: 1;
    }
    &.no-display {
      display: none;
    }
  }
</style>