---
import PaperBackground from "./shared/PaperBackground.astro";

import cross from "../assets/cross.svg";

const { id, cardTitle } = Astro.props;
---
<div class="card-wrapper no-display" id={id}>
  <div class="card-container">
    <div class="background">
      <PaperBackground />
    </div>
    <div class="scrollable-content">
      <h2>{cardTitle}</h2>
      <button class="close-btn">
        <img src={cross} alt="close" draggable="false"/>
      </button>
      <div>
        <slot />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .card-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &.visible {
      opacity: 1;
    }
    &.no-display {
      display: none;
    }
  }
  .card-container {
    max-height: 80vh;
    width: 70vw;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 20px;
    border: 4px solid #897347;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    pointer-events: all;
    z-index: 11;
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
    & .scrollable-content {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      z-index: 12;
    }
    .background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 16px;
      overflow: hidden;
    }
    .close-btn {
      height: 24px;
      width: 24px;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      user-select: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .card-container {
      width: 80vw;
      padding: 2rem;
    }
  }
  @media screen and (max-width: 600px) {
    .card-container {
      width: 90vw;
      padding: 1.5rem;
    }
  }
</style>