---
import PaperBackground from "./shared/PaperBackground.astro";

import cross from "../assets/cross.svg";

const { id, cardTitle, cardContent } = Astro.props;
---

<div class="card-container" id={id}>
  <PaperBackground />
  <h2>{cardTitle}</h2>
  <p>{cardContent}</p>
  <button class="close-btn">
    <img src={cross} alt="close" draggable="false"/>
  </button>
  <slot/> 
</div>

<style lang="scss">
  .card-container {
    width: 70%;
    max-width: 1000px;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #897347;
    align-items: center;
    padding: 2rem 3rem;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    h2 {
      margin-bottom: 20px;
    }
    & > * {
      z-index: 11;
    }
    .close-btn {
      height: 24px;
      width: 24px;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      user-select: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &.visible {
      display: flex;
    }
  }
</style>