---
import { Image } from 'astro:assets'
import SectionLayout from '../../layouts/SectionLayout.astro'
import portrait from '../../assets/portrait_marie_pierre.jpg'
import HandWroteText from '../HandWroteText.astro'
import { Content as AboutContent } from '../../content/genealogie/about.md'
import PublicationCards from '../PublicationCards.astro'
---

<SectionLayout
  title="A propos de moi"
  background="#DEB057"
  sectionId="a-propos"
>
  <div class="main-content">
    <div>
      <Image
        height={180}
        src={portrait}
        densities={[1.5, 2]}
        alt="Portrait de Marie-Pierre Estienne"
        class="portrait"
        draggable={false}
      />
      <AboutContent />
    </div>
    <HandWroteText />
    <PublicationCards />
  </div>
</SectionLayout>

<style lang="scss">
  .main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .portrait {
      float: left;
      margin-top: 16px;
      margin-right: 10px;
    }
    :global(p) {
      text-align: justify;
      width: 100%;
      font-size: 1rem;
      margin-top: 0.6rem;
      line-height: 1.5;
      max-width: 800px;
    }
  }

  @media screen and (max-width: 500px) {
    .main-content {
      width: 90%;
    }
  }
</style>
