---

---

<div class="clock">
  <div class="clock-center"></div>
  <div class="clock-stroke top"></div>
  <div class="clock-stroke right"></div>
  <div class="clock-stroke bottom"></div>
  <div class="clock-stroke left"></div>
</div>

<style lang="scss">
  .clock {
    --clock-color: #886621;
    height: clamp(200px, 50vmin, 350px);
    width: clamp(200px, 50vmin, 350px);
    background: #e8e3dd;
    border-radius: 50%;
    opacity: 0.25;
    box-shadow:
      inset 0px 0px 8px #051923,
      3px 3px 6px #05192371;
    border: clamp(12px, 3.5vmin, 22px) solid var(--clock-color);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 40%;
      width: calc(40% / 12);
      background: var(--black);
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
      bottom: 50%;
      left: calc(50% - (40% / (12 * 2)));
      border-radius: 20px;
      animation: lowspin 10s cubic-bezier(0.53, 0.04, 0.47, 1);
      transform-origin: bottom;
    }
    &::after {
      content: '';
      position: absolute;
      height: 20%;
      width: calc(40% / 12);
      background: var(--black);
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
      bottom: 50%;
      left: calc(50% - (40% / (12 * 2)));
      border-radius: 20px;
      transform: rotate(-120deg);
      animation: spin 10s cubic-bezier(0.53, 0.04, 0.47, 1);
      transform-origin: bottom;
    }
    .clock-center {
      content: '';
      position: absolute;
      width: clamp(12px, 3.5vmin, 26px);
      height: clamp(12px, 3.5vmin, 26px);
      border-radius: 50%;
      background: var(--clock-color);
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    .clock-stroke {
      height: clamp(12px, 6%, 20px);
      width: 4px;
      background-color: var(--black);
      position: absolute;
      border-radius: 2px;
      --stroke-padding-max: 8px;
      --stroke-padding: 2%;
      &.top {
        left: 50%;
        transform: translateX(-50%);
        top: min(var(--stroke-padding-max), var(--stroke-padding));
      }
      &.right {
        top: 50%;
        transform: translateY(-50%) rotate(90deg) translateY(40%);
        right: min(var(--stroke-padding-max), var(--stroke-padding));
      }
      &.left {
        top: 50%;
        transform: translateY(-50%) rotate(90deg) translateY(-40%);
        left: min(var(--stroke-padding-max), var(--stroke-padding));
      }
      &.bottom {
        left: 50%;
        transform: translateX(-50%);
        bottom: min(var(--stroke-padding-max), var(--stroke-padding));
      }
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(240deg);
    }
    100% {
      transform: rotate(-480deg);
    }
  }
  @keyframes lowspin {
    0% {
      transform: rotate(4320deg);
    }
    100% {
      transform: rotate(-4320deg);
    }
  }
</style>
