---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	:root {
		font-size: 16px;
		--main-color: #DEB057;
		--accent-color: #4278AA;
		--black: #051923;
		--dark-grey: #7D7B73;
		--light-grey: #C2C0B2;
		--very-light-grey: #E8E3DD;
		--white: #F8F8F8;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		color: var(--black);
	}
</style>
