---
export interface Props {
	title: string;
}

import "@fontsource/playfair-display"
import "@fontsource/crimson-text"
import "@fontsource/jomolhari"

import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
<style lang="scss" is:global>
	:root {
		font-size: 16px;
		--main-color: #DEB057;
		--accent-color: #4278AA;
		--black: #051923;
		--dark-grey: #7D7B73;
		--light-grey: #C2C0B2;
		--very-light-grey: #E8E3DD;
		--white: #F8F8F8;
	}

	html {
		font-family: 'Playfair Display', 'Times New Roman', serif;
		line-height: 1.6;
		color: var(--black);
	}

	* {
		box-sizing: border-box;
		margin: 0;
	}

	a {
		color: var(--black);
		text-decoration: none;
	}

</style>
